<div class="facilities" [ngStyle]="{ height: height }">
  <div class="header">
    <img src="../../../../assets/img/like.png" alt="" />
    <div class="title">
        <h1 class="is-color-yellow">
            FIRST-CLASS
          </h1>
          <h1>
            FACILITIES
          </h1>
    </div>
  </div>

  <div class="table">
    <div class="columns">
      <div class="column class-room">
        <h1>Brand new furniture and equipment</h1>
        <img src="../../../../assets/img/facilities/1.jpg" alt="" />
      </div>
      <div class="column glass-walled">
        <img src="../../../../assets/img/facilities/glass-walled.jpg" alt="" />
        <h1>Modern, well-lighted, air-conditioned, glass-walled rooms</h1>
      </div>
      <div class="column">
        <div class="new-building">
          <img
            src="../../../../assets/img/facilities/new-building.jpg"
            alt=""
          />
          <h1>Newly constructed building</h1>
        </div>
        <div class="parking">
          <img src="../../../../assets/img/facilities/parking.png" alt="" />
          <h1>Plenty of parking spaces</h1>
        </div>
      </div>
    </div>
  </div>
</div>
