@import '../../../../styles.scss';

.contact {
    height: 100vh;
    display: table;
    position: absolute;
    width: 100%;
    
    .container {
        display: table-cell;
        vertical-align: middle;
        padding: 0 100px;
    }
    h1 {
        font-weight: 800;
        font-size: 1.5rem;
        color: $yellow;
    }

    padding: 20px;
    background: $blue;
    color: #fff;

    strong {
        color: #fff;
    }
    .reservation-info {
        color: #fff;

        .fas {
            width: 30px
        }
    }

    .go-up {
        a {
            position: absolute;
            color: #fff;
            font-size: 3rem;
            right: 10px;
        }

    }
}