<div class="exp-content">
  <div class="title is-hidden-mobile">
    <h1>THE</h1>
    <img src="../../../../../assets/img/title-wo-sub.png" alt="" srcset="" />
    <h2>EXPERIENCE</h2>
  </div>

  <div class="bg">
    <div class="columns is-desktop">
      <div class="column"></div>
      <div class="column">
        <div class="for-icon">
          <img src="../../../../../assets/img/icons/book.png" alt="" />
        </div>
        <div class="for-desc">
          <b>Flexible</b> <br />
          Review Program
        </div>
      </div>
      <div class="column"></div>
      <div class="column">
        <div class="for-icon">
          <img src="../../../../../assets/img/icons/like.png" alt="" />
        </div>
        <div class="for-desc">
          <b>First-class</b> <br />
          Facilities
        </div>
      </div>
      <div class="column"></div>
    </div>

    <div class="columns is-desktop">
      <div class="column">
        <div class="for-icon">
          <img src="../../../../../assets/img/icons/location.png" alt="" />
        </div>
        <div class="for-desc">
          <b>Idea</b> <br />
          Location
        </div>
      </div>
      <div class="column"></div>
      <div class="column">
        <div class="for-icon">
          <img src="../../../../../assets/img/icons/user.png" alt="" />
        </div>
        <div class="for-desc">
          <b>Outstanding</b> <br />
          Reviewer
        </div>
      </div>
      <div class="column"></div>
      <div class="column">
        <div class="for-icon">
          <img src="../../../../../assets/img/icons/like.png" alt="" />
        </div>
        <div class="for-desc">
          <b>Exclusive</b> <br />
          Review App Access
        </div>
      </div>
    </div>

    <div class="columns is-desktop">
      <div class="column"></div>
      <div class="column">
        <div class="for-icon">
          <img src="../../../../../assets/img/icons/location.png" alt="" />
        </div>
        <div class="for-desc">
          <b>Hassle-free</b> <br />
          Accommodation
        </div>
      </div>
      <div class="column"></div>
      <div class="column">
        <div class="for-icon">
          <img src="../../../../../assets/img/icons/location.png" alt="" />
        </div>
        <div class="for-desc">
          <b>Value</b> <br />
          for Money
        </div>
      </div>
      <div class="column"></div>
    </div>
  </div>
</div>
