<div id="experience" class="experience-header">
  <div class="vertical-center">
    <div class="title">
      <div class="columns">
          <div class="column is-1"></div>
        <div class="column is-text-gray">THE</div>
      </div>
  
      <div class="columns">
        <div class="column is-2"></div>
        <div class="column">
          <img src="../../../../../assets/img/title-wo-sub.png" alt="">
        </div>
      </div>
  
      <div class="columns">
          <div class="column is-5"></div>
        <div class="column is-text-yellow">EXPERIENCE</div>
      </div>
    </div>
  </div>
  <div class="go-up">
      <a href="#goals"><i class="fas fa-chevron-circle-up"></i></a>
    </div>  
  <div class="goDown">
    <a href="#exp-content"><i class="fas fa-chevron-circle-down"></i></a>
  </div>
</div>