<div class="experience-header">
  <div class="vertical-center">
    <div class="columns">
      <div class="column is-hidden-mobile has-margin-right"></div>
      <div class="column is-11 is-paddingles">THE</div>
    </div>

    <div class="columns">
      <div class="column is-hidden-mobile"></div>
      <div class="column is-10"><img src="../../../../../assets/img/title-wo-sub.png" alt="" srcset=""></div>
    </div>

    <div class="columns">
      <div class="column is-hidden-mobile"></div>
      <div class="column is-7">EXPERIENCE</div>
    </div>
  </div>
</div>