/* You can add global styles to this file, and also import other style files */

//colors
$blue : #003469;
$yellow : #FFDC00;
$gray : #a6a6a6;

.is-text-yellow {
    color: $yellow;
}

.is-text-gray {
    color: $gray;
}


.is-text-blue {
    color: $blue;
}